### Author: Bartosz Jurczewski

# General rules
Options -Indexes
RewriteEngine On

# SmartLinks (no .html)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# HTTPS and no www
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]

# 404 page for seo
ErrorDocument 404 /404.html

# SECURITY
<IfModule mod_headers.c>
    Header set Content-Security-Policy "default-src 'self'; connect-src *; font-src *; frame-src *; img-src * data:; media-src *; object-src *; script-src * 'unsafe-inline' 'unsafe-eval'; style-src * 'unsafe-inline'; script-src-elem * 'unsafe-inline';"

    Header always set X-Content-Type-Options "nosniff"

    Header set Set-Cookie HttpOnly;Secure

    Header always set X-FRAME-OPTIONS "DENY"

    Header always set X-XSS-Protection "1; mode=block"

    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"

    Header set Referrer-Policy "no-referrer"

    Header set Permissions-Policy: microphone=(), camera=(), payment=(), geolocation=(self)

    Header set Cross-Origin-Opener-Policy "same-origin"

    Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"

    Header set Cross-Origin-Embedder-Policy "require-corp"

    Header set Cross-Origin-Resource-Policy "same-origin"

</IfModule>

